
/*
.pokemonMemoryBoard
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
*/

.pokemonCard
{
	/*width: 125px;*/
	/*height: 125px;*/
	/*display: inline-block;*/
	/*margin: 3px;*/
	/*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*max-width: 100%;*/
    /*min-height: 100%;*/
    /*width: 100vh;*/
    /*height: 100vh;*/

	background-image: url("/app/img/pokemonMemoryCard/card.png");
	border: 4px solid #365DCD;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease-in-out;

}


.pokemonCard img
{
	width: 100%;
	height: auto;
}



.pokemonCard:hover
{
	border: 4px solid #e9b64a;
}



















